.top {
    position: relative;
}

.effect {
    z-index: -5;
}

.logo-img {
    margin: 1rem 0 1rem 3rem;
}

@media screen and (max-width: 992px) {
    .logo-img {
        margin-left: 0;
    }
}

.bg-color-1 {
    background: #f05d61 !important;
}

.text-color-1 {
    color: #f05d61 !important;
}
